#landing {
  width: 80vw;
  margin: auto;
}

.landing-nav {
  width: 100%;
  margin: 3em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.logo-text {
  height: 170px;
}

.landing-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 30vh;
  margin: 0;
}

.landing-logo:hover {
  cursor: pointer;
}

.logo-text-mid {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;

  color: #FDCB6E;
}

.logo-text-small {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;

  color: #FDCB6E;
}


/*---------------------- */

.landing-slogan-container {
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.slogan-container {
  width: 488px;
  margin: 3em 0 0 5em;
  display: flex;
  flex-direction: column;
}

.slogan-large {
  font-size: 60px;
  font-weight: 700;
}

.slogan-small {
  margin: 1em 0;
  font-size: 25px;
  font-weight: 400;
}

.landing-img {
  width: 650px;
  border-radius: 99px;
  margin-left: 10em;
}

.yellow-sq-background {
  position: absolute;
  z-index: -1;
  width: 1376.03px;
  height: 1063.17px;
  left: 62%;
  bottom: -45.17px;

  background-color: var(--primary-color);
  border-radius: 99px;
  transform: rotate(-45deg);
}

/* --------------------- */

.landing-redirect-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em auto 4em auto;
}

.button-block {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redirect-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 327px;
  font-weight: 700;
  font-size: 40px;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 24px;
  margin-bottom: 0.5em;
}


.redirect-buttons:hover {
  cursor: pointer;
  background-color: #4e42a8;
}


.redirect-description {
  width: 85%;
  font-size: 22px;
  font-weight: bold;
}

.bottom-wavy {
  position: absolute;
  height: 200px;
  width: 100vw;
  object-fit: cover;
  object-position: 0 -220px;
  left: 0%;
}