.nav-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 65%;
  margin-right: 1em;
}

.nav-item-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 109px;
  color: var(--secondary-color);

}

.nav-item-container .nav-item {
  width: 25%;
  font-size: 24px;  
  text-align: center;
}

.nav-item-container .nav-item:hover {
  font-weight: bold;
  color: var(--tertiary-color);
  cursor: pointer;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.button-container {
  width: 20%;
  height: 45px;
  border-radius: 999px;
  background: #2D3436;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.signup-button:hover {
  scale: 1.2;
  cursor: pointer;
}

/* --------------------- */
.nav-icon-container {
  width: 20%;
}
.nav-icon-container .nav-icons{
  font-size: 40px;
  margin: 0 10px;
  color: white;
  width: fit-content;
}

.nav-icon-container .nav-icons:hover{
  scale: 1.2;
  cursor: pointer;
}

/* --------------------- */

#language-select {
  border: none;
  background-color: transparent;
  height: 100%;
  width: fit-content;
  margin: 0 10px;
  font-size: 28px;
  font-weight: 600;
  color: white;
}

#language-select option{
  background-color: var(--primary-color);
}


